.nextui-c-iwmZdB-iiIdOsz-css{
    width: 100% !important;
}
.nextui-c-kRHeuF{
    padding: 6px !important;
}
.nextui-c-bVLlAJ.nextui-c-bVLlAJ-bDGmTT-ready-true.nextui-c-bVLlAJ-idGkDDc-css.nextui-image-container.nextui-image--ready{
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}



img.nextui-c-kbhVdb.nextui-c-kbhVdb-ihRIkiZ-css.nextui-image{
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}
.nextui-c-eXOOPO{
    background-color: white !important;
}